.company-icon {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.company-info {
  margin-left: -6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.question-label {
  color: #8294a5;
  font-size: 13px;
  letter-spacing: -0.25px;
  line-height: 16px;
  margin-right: 6px;
}
.company-name {
  color: #495057;
  font-size: 13px;
  letter-spacing: -0.25px;
  line-height: 16px;
}
