.reaction-count-icon-container img {
  width: 20px;
  height: 20px;
}

.reaction-count-container {
  display: flex;
}
.reaction-count-icon-container,
.comment-count-container {
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.reaction-count-icon-container span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 15px;
  padding: 0 3px;
}

.reaction-count-icon-container .like-count {
  color: #5187ce;
}
.reaction-count-icon-container .heart-count {
  color: #e4421c;
}
.reaction-count-icon-container .clap-count {
  color: #71a954;
}
.reaction-count-icon-container .superb-count {
  color: #e8cb31;
}
.reaction-count-icon-container .dislike-count {
  color: #99a2ab;
}
.answer-label-mobile,
.answer-label-desktop,
.comment-count {
  color: #2477ea;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 12px;
}
.comment-count {
  margin-right: 5px;
}

.oval-3 {
  height: 4px;
  width: 4px;
  background-color: #8294a5;
  border-radius: 50%;
  margin: 0 8px 0 0px;
}
