.ask-question-block {
  height: 56px;
  background: rgb(255, 255, 255);
}

.sidenav-right {
  margin-top: 12px;
}

.ask-a-question-block {
  background-color: #ffffff;
  height: 56px;
  padding: 12px;
  width: 80%;
  text-align: center;
}
