.post-skeleton {
  display: flex;
  flex-direction: column;
}

.avatar-skeleton {
  width: 220px;
  height: 70px;
}

.avatar {
  float: left;
  width: 52px;
  height: 52px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 8px;
  background-image: linear-gradient(
    90deg,
    #f4f4f4 0px,
    rgba(229, 229, 229, 0.8) 40px,
    #f4f4f4 80px
  );
  background-size: 600px;
  animation: shine-avatar 2s infinite ease-out;
}
.avatar-skeleton .avatar-line {
  float: left;
  width: 140px;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(
    90deg,
    #f4f4f4 0px,
    rgba(229, 229, 229, 0.8) 40px,
    #f4f4f4 80px
  );
  background-size: 600px;
  animation: shine-lines 2s infinite ease-out;
}

.avatar-skeleton .avatar + .avatar-line {
  margin-top: 11px;
  width: 100px;
}

.avatar-skeleton .avatar-line ~ .avatar-line {
  background-color: #ddd;
}

.description-skeleton {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}
.description-skeleton .line {
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(
    90deg,
    #f4f4f4 7%,
    rgba(229, 229, 229, 0.8) 38%,
    #f4f4f4 69%
  );
  animation: shine-lines 2s infinite ease-out;
}
.description-skeleton .line-space {
  height: 15px;
}
.description-skeleton .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}
