.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(41, 76, 102, 0.16) 0px 1px 3px 0px;
  background: rgb(255, 255, 255);
}

.header-wrapper {
  width: 80%;
}

.brand-logo {
  width: 90px;
}
.brand-text {
  height: 18px;
  margin-left: 6px;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
