@media only screen and (min-width: 1060px) {
  .container {
    margin-left: calc(50% - 530px) !important;
    margin-right: calc(50% - 530px) !important;
    margin-top: 50px;
  }
  .header {
    margin-left: calc(50% - 530px) !important;
    margin-right: calc(50% - 530px) !important;
  }
  .mobile-nav-block {
    display: none;
  }
  .answer-label-desktop {
    display: block !important;
  }
  .answer-label-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 920px) and (min-width: 770px) {
  .sidenav-right {
    display: none;
  }
  .main {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1060px) and (min-width: 770px) {
  .container {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .header {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .mobile-nav-block {
    display: none;
  }
  .tag:nth-child(-n + 1) {
    display: block;
  }
  .social-icon-block-desktop {
    display: none;
  }
  .social-icon-block-mobile {
    display: block;
  }
  .reaction-count-icon-container:nth-last-of-type(-n + 3) {
    display: none;
  }
  .answer-label-desktop {
    display: block !important;
  }
  .answer-label-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 95px;
  }
  .mobile-nav-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 5px;
  }

  .sidenav-left,
  .sidenav-right,
  .search-block {
    display: none;
  }

  .header {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .main {
    padding: 0;
  }

  .tag {
    display: none;
  }
  .tag:nth-child(-n + 3) {
    display: block;
  }
  .action-item {
    margin-right: 10px;
  }

  .reaction-count-icon-container:nth-last-of-type(-n + 3) {
    display: none;
  }
  .social-icon-block-desktop {
    display: none;
  }
  .social-icon-block-mobile {
    display: block;
  }
  .helpicon-text {
    color: #23a263;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.23px;
    line-height: 16px;
  }
  .answericon-text {
    color: #006aff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.23px;
    line-height: 16px;
  }
  .answer-label-desktop {
    display: none !important;
  }
  .answer-label-mobile {
    display: block !important;
  }
}
