.action-container {
  display: flex;
  flex-direction: row;
  padding: 6px 0;
  margin-bottom: 6px;
}

.action-item {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  align-items: center;
}
.share-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpicon-text {
  color: #23a263;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 15px;
}
.answericon-text {
  color: #006aff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 15px;
}
.share-icon-text {
  color: #5f748c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.23px;
  line-height: 16px;
}

.helpicon-text,
.answericon-text {
  margin-left: 6px;
}
.helpfull-block,
.answer-block {
  padding: 6px;
}

.social-icon-block-mobile {
  display: none;
}

.action-reaction-block {
  position: absolute;
}
.answer-block:hover,
.helpfull-block:hover {
  background-color: rgb(214, 235, 255);
  border-radius: 3px;
}

.share-icon-block {
  margin-left: auto;
}

.more-icon {
  margin-right: -12px !important;
  margin-left: 20px !important;
}
.share-icon-block img {
  margin: 0 3px;
  padding: 5px;
}
.share-icon-block img:hover {
  background-color: rgb(214, 235, 255);
  border-radius: 3px;
}
