.sidenav-left {
  margin-top: 12px;
}

.hush-feed-label {
  color: var(--hush-feed-label-color);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.12px;
  line-height: 12px;
  margin-bottom: 6px;
}
.feed-group {
  height: 82px;
}

.channel {
  padding: 0 6px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 4px;
}
.channel:hover {
  background-color: #ffffff;
}
.active-tab {
  background-color: #ffffff;
}
.channel-name {
  margin-left: 10px;
  font-size: 14px;
  height: 16px;
  width: 37px;
  color: #333333;
  letter-spacing: -0.23px;
  line-height: 16px;
}
.channel-active-icon-container {
  width: 100%;
  text-align: right;
}

.channel-logo {
  width: 20px;
  height: 20px;
}
