.break-line {
  box-sizing: border-box;
  height: 2px;
  border: 1px solid #e1e6ed;
  margin-bottom: 8px;
}

.post-container {
  box-sizing: border-box;
  border: 1px solid #e4e7f0;
  border-radius: 3px;
  background-color: var(--post-container-background-color);
  padding: 16.5px;
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-tags {
  box-pack: center;
  justify-content: center;
  border-radius: 2px;
  display: inline;
}
.post-tag {
  background-color: var(--hush-white);
  padding: 5px;
  color: #5f748c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.23px;
  line-height: 16px;
}
