:root {
  --hush-feed-label-color: #5f748c;
  --hush-white: rgb(255, 255, 255);
  --hush-body-background: #f2f4f7;
  --post-font-color: #333333;
  --post-container-background-color: #ffffff;
}
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--hush-body-background);
  min-width: 320px;
  width: 100%;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0px;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 50px;
}

.columns {
  display: flex;
  flex: 1;
}

.sidenav-left {
  width: 192px;
  flex: 0 0 192px;
  background-color: transparent;
  order: 1;
}

.sidenav-right {
  width: 256px;
  flex: 0 0 256px;
  background-color: transparent;
  order: 3;
}

.main {
  flex: 1;
  order: 2;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}
.margin-right-12 {
  margin-right: 12px;
}
.inline-block {
  display: inline-block;
}
.text-left {
  text-align: left;
}

.block {
  display: block;
}
.no-margin {
  margin: 0;
}
.padding-10 {
  padding: 10px;
}

.hidden {
  display: none;
}
